
<header>
    <nav class="navbar">
        <ul>
            <li class="leftElement"><p>This charitable organization has obtained official certification from the <a href="https://www.usa.gov/" title="An official website of the United States government">United States government</a></p></li>
            <li class="rightElements"><a href="https://www.facebook.com/profile.php?id=61555397318489"><img class="socials" src="images/facebook.png" alt="Facebook logo"></a></li>
            <li class="rightElements"><a href="https://www.instagram.com/tmb_charity/"><img class="socials" src="images/instagram.png" alt="Instagram logo"></a></li>
            <li class="rightElements"><a href="https://twitter.com/TMB_Charity"><img class="socials" src="images/twitter.png" alt="twitter logo"></a></li>
        </ul>
    </nav>

    <nav class="navbar2">
        <ul>
            <li class="leftElement2"><b>Trust Me Bro Charity <span class="registeredTM">&reg;</span></b></li>
            <li class="rightElements2"><a href="sites/contanct-us.html">CONTACT US</a></li>
            <li class="rightElements2"><a href="sites/about.html">ABOUT</a></li>
            <li class="rightElements2"><a href="sites/donate.html">DONATE</a></li>
            <li class="active"><a>HOME</a></li>
        </ul>
    </nav>
</header>