.information{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;

    height:80%;
    width:75%;
    margin-left: 7%;
    margin-top:3%;
    border-radius: 5%;
    padding:5%;

    background-color: rgba(255, 0, 204, 0.116);
    font-family: 'Helvetica', sans-serif;
    font-size: 1.2vw;
    overflow: auto;
}