html {
    height: 100%;
  }
body {
    margin:0;
    align-items: center;
    background-size:cover;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right, #e9e3e2, #e9e3e2, #d4b4, #a23f95 );
    /* background-color: #e9e3e2; */
}