footer {
    background-color: #333;
    color: white;
    text-align: center;
    width: 100%;
    padding-bottom: 1%;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding:2%;
    margin: 0 auto;  /* Sets the top and bottom margin to 0 while the auto equally margins the left and the right marign*/
}
.footer-section {
    text-align: center;
}
.footer-section a {
    color: white;
    text-decoration: none;
}
.footer-section a:hover{
    text-decoration: underline;
}