.gridy{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-column-gap: 1%;
    padding:1%;
}
.girlAdGrid{
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start: 1;
    grid-row-end: 5;
}
.girlAd{
    width:100%;
    margin-top:8%;
    height:90%
}
.boyAdGrid{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 5;
}
.boyAd{
    width: 100%;
    margin-top:8%;
    height:90%
}
.bottomAdGrid{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}
.bottomAd{
    width: 100%;
    height: 100%;
}