.reviewOneGrid{
    grid-row-start: 1;
    grid-row-end: 2;
}
.reviewTwoGrid{
    grid-row-start: 2;
    grid-row-end: 3;
}
.reviewThreeGrid{
    grid-row-start: 3;
    grid-row-end: 4;
}
.reviews{
    grid-column-start: 2;
    grid-column-end: 5;
    margin-left:2%;
    margin-right:2%;
    display: flex; 
    align-items: center; 
}
.avatar{
    width: 15%;
    height: 65%;
    overflow: hidden;
    display: inline-block;
    border-radius: 50%;
}
.review{
    height:50%;
    width:70%;
    margin-left: 8%;
    background-color: rgba(255, 0, 204, 0.116); 
    border-radius: 1.25em;
    padding-bottom: 1%; 
    font-family: 'Helvetica', sans-serif;
    overflow: hidden;
}
.review p{
    text-align: center;
    font-size: 1.2vw;
    padding: 0 3% 3% 3%;
}


