/* Code for the first(white) navigation bar */
.navbar ul{
    list-style-type: none;
    background-color: #e9e3e2;
    padding:0;
    margin:0;
    height :3.75em;
    overflow: hidden;
}
.rightElements{
    float: right;
}
.leftElement{
    float: left;
    margin-left:0.625em;
    margin-top:0.3125em;
    font-family: 'Times New Roman', Times, serif;
}
.leftElement p a{   /* Used so that the link to usa.gov doesn't go into a new line*/
    display: inline;
    margin-left: -0.9375em;
}
.leftElement p a:visited {
    color: #00f;
}
.navbar a{
    padding:0.9375em;
    display:block;
    text-align: center;
}
.socials{    /* Setting the image size for socials */
    height:2.1875em;
    width:2.1875em;
}

/* Code for the second(purple) navigation bar */

.navbar2 ul{
    list-style-type: none;
    background-color: #3C1F47;
    padding:0;
    margin:0;
    height: 3.125em;;
    overflow: hidden;
}
.navbar2 a{
    color:white;
    text-decoration: none;
    padding:0.9375em;
    display:block;
    text-align: center;
}
.navbar2 li:not(.active) a:hover{
    background-color: #95487c;
}
.rightElements2{
    float: right;
    font-family: 'Futura', Times, serif;
}
.leftElement2{
    float: left;
    margin-left:6.25em;
    margin-top:0.425em;
    font-family: 'Futura', Times, serif;
    font-size: 140%;
    color:white;
    text-shadow:
    -0.0625em -0.0625em 0 #000,
    0.0625em -0.0625em 0 #000,
    -0.0625em 0.0625em 0 #000,
    0.0625em 0.0625em 0 #000; 
}
.active{
    float:right;
    background-color: #7f3c6a;
    font-family: 'Futura', Times, serif;
}
.registeredTM{
    font-size:75%;
    color:white;
}

